<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <link rel="stylesheet" href="chessboard-1.0.0.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="chessboard-1.0.0.min.js"></script>
  </head>
  <body>
  	<div id="board2" style="width: 400px"></div>
      <button id="startBtn">Start Position</button>
      <button id="clearBtn">Clear Board</button>
    <script>
    	const board = document.getElementById('board2');
        var boardchess = Chessboard(board, {
            draggable: true,
            dropOffBoard: 'trash',
            sparePieces: true
    	})
    	$('#startBtn').on('click', boardchess.start)
    	$('#clearBtn').on('click', boardchess.clear)
    </script>
    
  </body>
</html>