<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- <link rel="stylesheet" href="index.css"> -->
  <style>
    .navbar-nav {
      display: inline-block;
    }

    .navbar-nav>li {
      display: inline-block;
    }

    /* Modal */
    .modal-header {
      padding: 0;
    }

    .modal-header .close {
      padding: 20px 25px;
    }

    .modal-header ul {
      border: none;
    }

    .modal-header ul li {
      margin: 10px;
    }

    .modal-header ul li a {
      border: none;
      border-radius: 0;
    }

    .modal-header ul li.active a {
      color: #e12f27;
    }

    .modal-header ul li a:hover {
      border: none;
    }

    .modal-header ul li a span {
      margin-left: 10px;
    }

    .modal-body .form-group {
      margin-bottom: 10px;
    }

    .boxscroll {
        background: #ffffff;
        color: rgb(0, 0, 0);
        padding: 15px;
        width: 100%;
        overflow-y: scroll;
        border: 1px solid rgb(116, 1, 1);
        height: 80vh;


      }
      .flexContainer {
        display: flex;
        width:100%;
      }

      .inputField {
          flex: 1;
      }
      #commentColor{
      background-color: #928f8f;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
      }
  </style>
</head>

<body>

  <!-- Navbar -->
  <div class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#home">Chess</a>
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="#About">About</a>
      </li>

    </ul>
    <% if (isAuthenticated) { %>
    
    <button class="btn btn-info" onclick="window.location.href = '/logout';">Logout</button>
    <% } else{ %>
    <!-- Login button to open Modal -->
    <button data-toggle="modal" data-target="#modalLoginForm" class="btn btn-info">Login</button>
    <% } %>
  </div>


  <% if (flash == 1) { %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
  <% } %>
  <% if (createFlash == 1) { %>
  <div class="alert alert-warning" role="alert"><%= createMessage %></div>
  <% } %>
  <!-- Chat + Lobby -->
  <div class="container-fluid">
    <div class="row">
      <!-- Chat -->
      <div class="col-3">
        <div class="row">
          <div id="show_comments" class="boxscroll"></div>
          <div class="flexContainer">
            <input id="comment" placeholder="Message" class="inputField"></input>
            <button id="add_status">Send</button>
          </div>
        </div>
        <!-- Will need to add input field and button for sending messages -->
      </div>
      <!-- Lobby -->
      <div class="col-9">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Match #</th>
              <th scope="col">User</th>
              <th scope="col">Room Size</th>
            </tr>
          </thead>
          <tbody id = "tablebody">
          </tbody>
        </table>
        <hr>
        <!-- create game works under <a> tag but not <button>  -->
        <!-- <a class="btn btn-block" href="/chess">Create Game</a> -->
        <div class="row">
          <div class="col">
              <button data-toggle="modal" data-target="#createGameModal" class="btn btn-block">Create Game</button>
          </div>
          <div class="col">
          </div>
        </div>  
      <!-- /col-9 -->
      </div>
      <!-- /Row -->
    </div>
    <!-- /Container -->
  </div>
  <!-- Create Game Modal -->
  <div class="modal fade" id="createGameModal" role="dialog">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Enter Game Information</h5>
      </div>
      <div class="modal-body">
        <form action="/createGame" method="POST">
          <div class="form-group">
            <label class="col-form-label" for="room-Name">Room Name: </label>
            <input type="text" class="form-control" name="game_name" id="room-Name">
          </div>
          <!-- Submit on Modal -->
          <button type="submit" class="btn btn-block">Create Game</button>
        </form>
      </div>
      <!-- /Modal Content -->
      </div>
      <!-- /Modal Dialog -->
    </div>
    <!-- /Modal -->
  </div>
  <!-- Login / Register Modal-->
  <div class="modal fade" id="modalLoginForm" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Login and Register Tabs -->
          <ul class="nav nav-tabs ">
            <li><a data-toggle="tab" href="#login-form"> Login</a></li>
            <li><a data-toggle="tab" href="#registration-form"> Register </a></li>
          </ul>
          <!-- X on top right of Modal -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <!-- Login Modal Screen -->
            <div id="login-form" class="tab-pane fade, active">
              <form action="/login" method="POST">
                <div class="form-group">
                  <label for="email">Username:</label>
                  <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter password"
                    name="password">
                </div>
                <button type="submit" class="btn btn-default btn-block">Login</button>
              </form>
            </div>
            <!-- Registration Modal Screen -->
            <div id="registration-form" class="tab-pane fade">
              <form action="/register" class="needs-validation" novalidate method="POST">
                <div class="form-group">
                  <label for="regName">Name:</label>
                  <input type="text" class="form-control" id="regName" placeholder="Enter your name" name="name" required>
                </div>
                <div class="form-group">
                  <label for="regUsername">Username:</label>
                  <input type="text" class="form-control" id="regUsername" placeholder="Enter your username"
                    name="username" required>
                </div>
                <div class="form-group">
                  <label for="regPassword">Password:</label>
                  <input type="password" class="form-control" id="regPassword" placeholder="New password"
                    name="password" required>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required >
                </div>
                <button type="submit" class="btn btn-default btn-block">Register</button>
              </form>
            </div>

          </div>
          <!-- Modal Body -->
        </div>

        <!-- Bootstrap scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
        <script>
          // Get the modal
          var modal = document.getElementById('id01');

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function (event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }

          function opengame(callback) {
            fetch('/opengames')
                    .then(res => res.json())
                    .then(data => obj = data)
                    .then(() => callback(obj))
          }

          opengame(getData);

          function getData(arrOfObjs){
            var results = "";
            arrOfObjs.forEach((x) => {
                results += "<tr>"
                results += "<td>" + x.game_id + "</td>";
                results += "<td>" + ((x.game_name)? x.game_name : x.user_id1) + "</td>";
                results += "<td>" + ((x.user_id2)? "2/2" : ("<button type='submit' value='Submit'> Join </button>")) + "</td>";                
                results += "</tr>";
            });
            document.getElementById("tablebody").innerHTML = results;
          }

          var socket = io();
        $("#add_status").click(function() {
          socket.emit("status added", $("#comment").val());
          document.getElementById("comment").value = "";
        });

        const messageContainer = document.getElementById('show_comments');

        socket.on("refresh feed", function(msg) {
        const messageElement = document.createElement('div');
        messageElement.id = 'commentColor';
        messageElement.innerText = msg;
        messageContainer.append(messageElement);
        messageContainer.scrollTop = messageContainer.scrollHeight;

      });
        </script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
            </script>
      </div>
    </div>
  </div>
</body>

</html>